{% extends "_base.html" %}

{% block body %}

<div class="item">
  <div class="jello-horizontal">
    <picture>
      <source class="shadow-pop-bl" srcset="/static/img/face-top-min.webp" type="image/webp">
     <a href="/clicking-the-head-should-do-something">
      <img class="shadow-pop-bl" src="/static/img/face-top-min.png" alt="picture of sin">
     </a> 
    </picture>
  </div>
    <h2>Sina’s PKM</h2>
  <nav>
      <a href="/"> 🏚 Home</a>
      <a href="/how-to-use-this-site"> 🤔 How to use this site</a>
      <a href="#" onclick="toggleTheme()">⚙️ Toggle dark mode</a>
  </nav>
  <input type="search" name="algolia_search" id="search" placeholder="🔎  Search...">

</div>

<div class="main">
  <article>
    <h1>{{doc.title}}</h1>
    <div>{{doc.content}}</div>
  </article>
</div>

<div class="item right-bar">
  <h2>Pages that link here:</h2>
    {% for link in doc.meta.backlinks %}
        <p><a class="wikilink" href="{{ to_url(link.output_path) }}">{{link.title}}</a><br>{{link.summary}}</p>
    {% endfor %}
  <h3>Current <a href="/stats">progress</a>:</h3>
  <p><span class="progress" id="progress">Loading...</span> articles read 🤓 </p>
  <a href="" onclick="clearProgress()">clear progress? 🚨</button>
</div>



{% endblock %}
